body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  color: blue;
  background-color: #ffc20e;
  margin-top: 80px;
}

li {
text-decoration: none;
}